button {
    margin-bottom: 30px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.button-close {
    color: #CCCCCC;
}

.button {
    margin-right: 15px;
    width: 200px;
    background-color: #2F98D2;
    color: white;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}