
<h1 mat-dialog-title>Adicionar/ Editar Renda</h1>
<div mat-dialog-content style="height: auto;overflow: hidden;">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Valor *</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Descrição * </mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mês da Renda</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="mes">
            <mat-option *ngFor="let mes of meses" [value]="mes.value">
              {{mes.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <mat-slide-toggle [color]="color">Nova Renda</mat-slide-toggle>
</div>
<div style="float: right;" mat-dialog-actions>

  <button mat-button mat-dialog-close class="button-close">Cancelar</button>
  <button class="button" mat-raised-button >Salvar Renda</button>
</div>