<div class="div-title" >
<h1 style="display: inline;">Finanças do mês de {{ mes }}</h1>

<span class="span-actions-title">
<button class="button" mat-raised-button (click)="AddCost({})">Adicionar nova Despesa</button>

<mat-form-field appearance="fill">
  <mat-label>Mês de despesas</mat-label>
  <mat-select [(ngModel)]="selectedValueMes" name="mes" (selectionChange)="updateSelectedValueMes()">
    <mat-option *ngFor="let mes of meses" [value]="mes.value">
      {{mes.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin-left: 10px" appearance="fill">
  <mat-label>Ano</mat-label>
  <mat-select [(ngModel)]="selectedValueAno" name="ano" (selectionChange)="updateSelectedValueAno()">
    <mat-option *ngFor="let ano of anos" [value]="ano.value">
      {{ano.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

</span>
</div>
<mat-card class="home mat-elevation-z3">
    <mat-card-subtitle class="subtitle">
        Renda disponivel do mês de {{mes}}
        <span class="span-valor">R$: 
          <span style="color: #45A94F;">{{valorTotalDisponivel}}</span>
        </span>
    </mat-card-subtitle>
</mat-card>
<div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="nomeDespesa">
    <th mat-header-cell *matHeaderCellDef> Nome Despesa </th>
    <td mat-cell *matCellDef="let cost"> {{cost.name}} </td>
  </ng-container>

  <ng-container matColumnDef="descricaoDespesa">
    <th mat-header-cell *matHeaderCellDef> Descrição da despesa </th>
    <td mat-cell *matCellDef="let cost"> {{cost.description}} </td>
  </ng-container>

  <ng-container matColumnDef="valorDespesa">
    <th mat-header-cell *matHeaderCellDef> Valor da despesa </th>
    <td mat-cell *matCellDef="let cost" style="color: #E71C1C;"> {{cost.value}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let cost">
      <span class="button-action">
        <button mat-icon-button (click)="deleteCost(cost)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
      <span class="button-action">
        <button mat-icon-button (click)="editCost(cost)">
          <mat-icon>edit</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<br>
<div>
<mat-card class="home mat-elevation-z3">
  <mat-card-subtitle class="subtitle">
      Renda restante do mês de {{mes}} 
      <span class="span-valor">R$:
         <span style="color: #EAAC0E;">{{calcularValorRestanteDoMes()}}</span>
      </span>
  </mat-card-subtitle>
</mat-card>
</div>