  <span class="span-logo">
    <a routerLink="/">
        <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>
  </span>
  <div class="container">

  <div class="example-container">
    <h3>Login</h3>
    <form [formGroup]="userGroup">

      <mat-form-field class="label" appearance="fill">
        <mat-label>User Name</mat-label>
        <input type="text" matInput formControlName="userNameFormControl">
        <mat-error *ngIf="userGroup.get('userNameFormControl').hasError('required')">
          User Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
    <mat-form-field appearance="fill" class="label">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="passordFormControl" [type]="hide ? 'password' : 'text'">    
      <mat-error *ngIf="userGroup.get('passordFormControl').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    </form>
    <div style="margin: 10px 0px 20px 0px;">
      <span class="novo-user">Novo Usuário?</span>
      <span class="cadastrar" (click)="openUserDialog()">Cadastre-se aqui</span>
    </div>
      <button class="button" mat-raised-button (click)="openApplication()">Entrar</button>
  </div>
</div>